html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #111111;
    color: #dedede;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login-container>* {
    font-family: monospace;
}

input {
    padding: 5px;
    margin: 10px;
}

button {
    padding: 5px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#message-container {
    width: 33%;
    height: 33%;
    border: 1px solid #fff;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow-y: auto;
}

#message-input-container {
    display: flex;
    justify-content: space-between;
    width: 33%;
    padding: 10px;
    border: 1px solid #fff;
}

#message-input {
    flex: 1;
    min-width: 0px;
}